<tr>
  <td>{{item.name}}</td>
  <td class="text-center">${{unit_price}}</td>
  <td class="text-center">{{quantity}}</td>
  <td class="text-center">{{discount}}%</td>
  <td class="text-center">${{getItemTotal unit_price quantity discount}}</td>
</tr>