<header class="page-header">
    <h1>
      <a href="/"><img
          src="/images/logo.webp"
          alt=""
          height="100px"
          width="100px"
        /></a>
    </h1>
    <nav>
      <!-- Conditionally render login or logout links -->
      <!-- {{#if logged_in}} -->
          <a href="/">HOME</a>

          <a href="/userprofile">PROFILE</a>
          <a href="/api/customers/logout" id="logout">LOGOUT</a>

          <!-- {{else}} -->
          <a href="/">HOME</a>

          <a href="/login">LOGIN</a>
          <!-- {{/if}} -->
    </nav>
  </header>
<main class="invoice">
<div class="container bootdey mt-5">
  <div class="row invoice row-printable">
    <div class="col-md-12">
      <!-- col-lg-12 start here -->
      <div class="panel panel-default plain" id="dash_0">
        <!-- Start .panel -->
        <div class="panel-body p30">
          <div class="row">
            <!-- Start .row -->
            <div class="col-lg-6">
              <!-- col-lg-6 start here -->
              <div class="invoice-logo">
                <img
                  width="100"
                  src="https://bootdey.com/img/Content/avatar/avatar7.png"
                  alt="Invoice logo"
                />
              </div>
            </div>
            <!-- col-lg-6 end here -->
            <div class="col-lg-6">
              <!-- col-lg-6 start here -->
              <div class="invoice-from">
                <ul class="list-unstyled text-right">
                  <li>My Butcher</li>

                </ul>
              </div>
            </div>
            <!-- col-lg-6 end here -->
            <div class="col-lg-12">
              <!-- col-lg-12 start here -->
              <div class="invoice-details mt25">
                <div class="well">
                  <ul class="list-unstyled mb0">
                    <li id="invoiceId" data-id="{{invoice.id}}"><strong>Invoice</strong> # {{invoice.id}}</li>
                    <li>
                      <strong>Invoice Date:</strong>
                      {{format_date invoice.createdAt}}
                    </li>
                    <li>
                      <strong>Due Date:</strong>
                      {{format_date invoice.due_date}}
                    </li>
                    <li>
                      <strong>Status:</strong>
                      <span class="label label-danger">UNPAID</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="invoice-to mt25">
                <ul class="list-unstyled">
                  <li><strong>Invoiced To</strong></li>
                  <li>{{invoice.customer_name}}</li>
                  <li>{{invoice.address}}</li>
                </ul>
              </div>
              <div class="invoice-items">
                <div
                  class="table-responsive"
                  style="overflow: hidden; outline: none"
                  tabindex="0"
                >
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="per55 text-center">Description</th>
						<th class="text-center">Price per kg</th>
                        <th class="text-center">Qty (kg)</th>
						<th class="text-center">Discount</th>
                        <th class="text-center">Item Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                         {{#each invoiceItems as |invoiceitems|}}
                            {{>invoice-items}}
                        {{/each}}
                      

                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="4" class="text-end">Total Amount:</th>
                        <th class="text-center">${{total}}</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <div class="invoice-footer mt25">
                <p class="text-center">
                  Generated on {{now}} <br><br>
                  <button class="btn btn-default" id="printBtn">Print</button>
				  <button class="btn btn-default" id="downloadBtn">Download</button>
                </p>
              </div>
            </div>
            <!-- col-lg-12 end here -->
          </div>
          <!-- End .row -->
        </div>
      </div>
      <!-- End .panel -->
    </div>
    <!-- col-lg-12 end here -->
  </div>
</div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.5/pdfmake.min.js" integrity="sha512-rDbVu5s98lzXZsmJoMa0DjHNE+RwPJACogUCLyq3Xxm2kJO6qsQwjbE5NDk2DqmlKcxDirCnU1wAzVLe12IM3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.5/vfs_fonts.js" integrity="sha512-cktKDgjEiIkPVHYbn8bh/FEyYxmt4JDJJjOCu5/FQAkW4bc911XtKYValiyzBiJigjVEvrIAyQFEbRJZyDA1wQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/pdf.js"></script>